[submodule "meus-gastos-server"]
	path = meus-gastos-server
	url = https://github.com/guilhermerds/meus-gastos-server.git

[submodule "meus-gastos-web"]
	path = meus-gastos-web
	url = https://github.com/lucascampanelli/meus-gastos-web.git
